<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <property>
    <item key="VBW" value="20" />
    <item key="TBH" value="50" />
    <item key="ZVH" value="70" />
    <item key="TUP" value="70" />
    <item key="xdpi" value="96.0" />
    <item key="ydpi" value="96.0" />
  </property>
</configuration>